# Titanic Survival Analysis
- This project analyzes the Titanic dataset to  understand which factors affected passenger survival
- We use Python and Pandas to explore and analyze the data

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 

        # You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic-machine-learning-from-disaster/train.csv
/kaggle/input/titanic-machine-learning-from-disaster/test.csv

## Step 1 : Load the Dataset
We load the Titanic dataset  provided by  Kaggle.

In [2]:
# Load the Dataset Titanic
df = pd.read_csv('/kaggle/input/titanic-machine-learning-from-disaster/train.csv')
# Display the first five rows of Dataset
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Step 2: Understand the data
We check the columns ,data types and missing values of datasets.

In [3]:
# Basic information about the dataset
df.info()
# Statistical summary of dataset
df.describe()
# Check for the missing values
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## **Step 3 : Handle the missing values
We fill the missing Age values with the median and the Embarked values with the most common values.

In [4]:
# Fill missing values in Age with median
df['Age'] = df['Age'].fillna(df['Age'].median())
# Fill  missing values in Embarked with most frequent
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
# Drop Cabin column(too many missing values)
df = df.drop(columns = ['Cabin'])
# Check again for the missing values
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

## Step 4 : Data Analysis
We analyze survival based on gender,class and age.

In [5]:
#Survival rate  by gender
print(df.groupby('Sex').Survived.mean())
# Survival rate by passenger class
print(df.groupby('Pclass').Survived.mean())
# Average age of survivors vs non survivors
print(df.groupby('Survived').Age.mean())

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64
Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64
Survived
0    30.028233
1    28.291433
Name: Age, dtype: float64

## Step 5 : Key Insights 
From the analysis :
- Females had a higher survival rate than males.
- 1st class passengers survival rate more than 3rd class
- Younger passengers had slightly better survival rates

In [6]:
# Save the cleaned Titanic Dataset
df.to_csv("cleaned_titanic.csv",index = False)

## Step 6 : Conclusion 
In this project,
 - We analyzed the Titanic dataset using Python and Pandas.
 - We cleaned missing values and explored how gender,passenger class and age affected survival rate
 - This project helped me understand how to perform basic data analysis using real-world projects